<div class="container">

  <h3 *ngIf="componentMode==false" class="text-center">List Of Books</h3>


  <div *ngIf="connectionError" class="alert alert-danger">No connection to the server, try command: <b>node server.js</b></div>

  <div class="row">
    <div class="col-12">

      <ul class="list-group col-12">
        <li *ngFor="let book of books_list" class="list-group-item">

          <div class="row">
            <div class="col-8">
              <h4><a [routerLink]="['/book', book.id]">{{book.title}}</a></h4>
              <h6>author: {{book.author}}</h6>
              <p>{{book.description}}</p>
            </div>
            <div class="col-4">
              <div class="float-right">
                <button (click)="deleteBook(book.id)" type="button" class="btn btn-danger">Delete</button>
              </div>
            </div>
          </div>



        </li>
      </ul>

    </div>
  </div>

</div>

