<div class="form-wrapper">
  <br>
  <div *ngIf="page_status == 'success_added'" class="alert alert-success">New book successfully added</div>



  <form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="page_status != 'success_added'">

    <h3 class="mb-4">Book Info</h3>

    <div class="loader" [class.loader-hide]="loader == false"></div>

    <div class="form-group">
      <label for="author">Author</label>
      <input class="form-control" id="author" formControlName="author" required >
      <div class="alert alert-danger" role="alert" *ngIf="form.get('author').invalid && form.get('author').touched">Required field</div>
    </div>

    <div class="form-group">
      <label for="title">Title</label>
      <input class="form-control" id="title" formControlName="title">
      <div class="alert alert-danger" role="alert" *ngIf="form.get('title').invalid && form.get('title').touched">Required field</div>
    </div>

    <div class="form-group">
      <label for="isbn">ISBN</label>
      <input class="form-control" id="isbn" formControlName="isbn">
      <div class="alert alert-danger" role="alert" *ngIf="form.get('isbn').invalid && form.get('isbn').touched">Required field</div>
    </div>

    <div class="form-group">
      <label for="pages">Number of Pages</label>
      <input class="form-control" id="pages" formControlName="pages">
      <div class="alert alert-danger" role="alert" *ngIf="form.get('pages').invalid && form.get('pages').touched">Required field</div>
    </div>

    <div class="form-group">
      <label for="format">Format</label>
      <select class="form-control" id="format" formControlName="format">
        <option value="{{formatData.id}}" *ngFor="let formatData of formats">{{formatData.name}}</option>
      </select>
      <div class="alert alert-danger" role="alert" *ngIf="form.get('format').invalid && form.get('format').touched">Required field</div>
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="description" rows="3" formControlName="description"></textarea>
      <div class="alert alert-danger" role="alert" *ngIf="form.get('description').invalid && form.get('description').touched">Required field</div>

    </div>

    <div class="form-group">
      <label for="price">Price</label>
      <input class="form-control" id="price" formControlName="price">
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="form.get('price').invalid && form.get('price').touched">Required field</div>

    <hr class="m-1 mb-5 mt-5">

    <h3 class="mb-4">Publisher Info</h3>

    <div class="form-group">
      <label for="country">Country</label>
      <select class="form-control" id="country" formControlName="country">
        <option value="{{countryData.id}}" *ngFor="let countryData of countries">{{countryData.name}}</option>
      </select>
      <div class="alert alert-danger" role="alert" *ngIf="form.get('country').invalid && form.get('country').touched">Required field</div>

    </div>

    <div class="form-group">
      <label for="city">City</label>
      <select class="form-control" id="city" formControlName="city">
        <option value="{{cityData.id}}" *ngFor="let cityData of cities">{{cityData.name}}</option>
      </select>
      <div class="alert alert-danger" role="alert" *ngIf="form.get('city').invalid && form.get('city').touched">Required field</div>
    </div>

    <div class="form-group">
      <label for="company">Company</label>
      <select class="form-control" id="company" formControlName="company">
        <option value="{{companyData.id}}" *ngFor="let companyData of companies">{{companyData.name}}</option>
      </select>
      <div class="alert alert-danger" role="alert" *ngIf="form.get('company').invalid && form.get('company').touched">Required field</div>
    </div>

    <button type="submit" class="btn btn-primary mt-4" [disabled]="form.invalid">Submit</button>
    <!-- [disabled]="form.invalid" -->
  </form>

</div>
