<div class="full-width-container">

  <div class="row">

    <div class="col-xs-4">
      <form>

        <h3 class="mb-4">Search</h3>

        <div class="form-group row">

          <label for="author" class="col-sm-3 col-form-label">Author</label>
          <div class="col-sm-7">
            <input class="form-control" id="author" [(ngModel)]="searchForm.author" name="searchForm.author" (ngModelChange)="onChange($event)">
          </div>

        </div>

        <div class="form-group row">

          <label for="title" class="col-sm-3 col-form-label">Title</label>
          <div class="col-sm-7">
            <input class="form-control" id="title" [(ngModel)]="searchForm.title" name="searchForm.title" (ngModelChange)="onChange($event)">
          </div>

        </div>

        <div class="form-group row">

          <label for="isbn" class="col-sm-3 col-form-label">ISBN</label>
          <div class="col-sm-7">
            <input class="form-control" id="isbn" [(ngModel)]="searchForm.isbn" name="searchForm.isbn" (ngModelChange)="onChange($event)">
          </div>

        </div>

        <div class="form-group row">
          <label for="format" class="col-sm-3 col-form-label">Format</label>
          <div class="col-sm-7">
            <select class="form-control" id="format" [(ngModel)]="searchForm.formatId" name="searchForm.formatId" (ngModelChange)="onChange($event)">
              <option value="0">All</option>
              <option value="1">Paperback</option>
              <option value="2">Hardcover</option>
              <option value="3">Audiobook</option>
              <option value="4">Leather Bound</option>
              <option value="5">Spiral Bound</option>
            </select>
          </div>
        </div>

        <div class="form-group row">

          <div class="col">
            <div class="row">

              <label for="page-min" class="col-sm-6 col-form-label">Pages between</label>
              <div class="col-sm-6">
                <input class="form-control" id="page-min" [(ngModel)]="searchForm.pageMin" name="searchForm.pageMin" (ngModelChange)="onChange($event)">
              </div>

            </div>
          </div>

          <div class="col">
            <div class="row">

              <label  class="col-sm-2 col-form-label text-center" for="page-max">and</label>
              <div class="col-sm-6">
                <input class="form-control" id="page-max" [(ngModel)]="searchForm.pageMax" name="searchForm.pageMax" (ngModelChange)="onChange($event)">
              </div>

            </div>
          </div>

        </div>

        <div class="form-group row">

          <div class="col">
            <div class="row">

              <label for="price-min" class="col-sm-6 col-form-label">Price between</label>
              <div class="col-sm-6">
                <input class="form-control" id="price-min" [(ngModel)]="searchForm.priceMin" name="searchForm.priceMin" (ngModelChange)="onChange($event)">
              </div>

            </div>
          </div>

          <div class="col">
            <div class="row">

              <label  class="col-sm-2 col-form-label text-center" for="price-max">and</label>
              <div class="col-sm-6">
                <input class="form-control" id="price-max" [(ngModel)]="searchForm.priceMax" name="searchForm.priceMax" (ngModelChange)="onChange($event)">
              </div>

            </div>
          </div>

        </div>

      </form>
    </div>

    <div class="col-xs-8">
      <h3 class="mb-4">List of Matched Books</h3>
      <app-showcase [filtredBooks]="booksFound" [componentMode]="true" (deletedBookID)="changeSourceBooks($event)"></app-showcase>
    </div>

  </div>

</div>
